@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

article {
    max-width: 980px;
    margin: auto;
}

header {
    max-width: 980px;
    margin: auto;
}
/*body {
    max-width: 1000px;
    margin: auto;
}*/

:root {
    --main-color: white;
    --text-color: rgb(80, 81, 85);
    font-family: 'Roboto';
}

/*Landing Page*/

.top-nav img {
    width: 188px;
    max-width: 980px;
    display: grid;

}

.top-nav {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .menu-top {
        display: flex;
    }
}
 
.top-page {
    background-image: url(../img/landscape-background-header.webp);
    background-position: center;
    background-size: cover;
    height: auto;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 275px;
} 


.menu-top {
    display: inline-flex;
    align-items: center;
}

.menu-top a {
    color: var(--main-color);
    font-size: 15px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    margin: 9px 9px;
}

.menu-top button {
    background-color: transparent;
    border-color:rgb(20, 169, 238);
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: var(--main-color);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.6px;
    line-height: 12.6px;
    margin: 10px;
    max-width: 100px;
    padding: 10px;
    transition: 0.4s;
}

.menu-top button:hover {
    background-color: rgb(20, 169, 238);
    color: var(--main-color);
    cursor: pointer;

}

.description-top {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    align-items: left;
    padding-top: 150px;
}

.top-header {
    color:var(--main-color);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    text-transform: uppercase;
}

#huge-norway {
    color:var(--main-color);
    font-family: 'Playfair Display', serif;
    font-size: 170px;
    height: auto;
    letter-spacing: normal;
}

.description-text {
    color: var(--main-color);
    line-height: 1cm;
    word-spacing: 0.1cm;
    letter-spacing: 0.51px;
    font-size: 17px;
    
}

.description-text .bold {
    font-weight: 700;
}

#next-trip {
    font-size: 23px;
}

.description-top button {
    background-color: transparent;
    border-color: var(--main-color);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color:var(--main-color);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.6px;
    max-width: 100px;
    padding: 10px;
    transition: 0.4s;
    margin-top: 30px;
}

.description-top button:hover {
    background-color: var(--main-color);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/*About Us Page*/

.about-us {
    /*align-items: center;*/
    background-image: url(../img/person-on-the-beach.webp);
    /*background-position: center;
    background-size: cover;
    height: auto;
    justify-content: center;
    max-width: 100%;
    padding: 480px;*/
    background-position: center;
    background-size: cover;
    height: auto;
    justify-content: center;
    padding: 500px;
}

.paragraph-about-us {
    display: flex;

}

.header-about-us {
    color:rgb(111, 115, 128);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.36px;
    line-height: 19.2px;
}

.big-text-left {
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 39px;
    line-height: 46.8px;
    letter-spacing: 1.17px;
}

.small-text-right {
    color: var(--text-color);
    font-weight: 200;
    font-size: 19px;
    line-height: 32.3px;
}


/*Tour Itinerary*/

.description-tour-itinerary {
    background-image: url(../img/dark-gray-background.webp);
    background-size: cover;
    padding: 0px 480px 0px 200px; 
    text-align: left;
    justify-content: left;
    display: flex;
    color: rgb(255, 255, 255, 0.6);

}

.description-tour-itinerary {
    display: flex;
}

.description-tour-itinerary logo-tour {
    padding-top: 775px;
}

.description-tour-itinerary h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.36px;
    line-height: 19.2px;
}



/*to fix the pic in "contact us" section use tag background-attachemnt: fixed*/
